@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  --clr-primary: rgb(56, 41, 224);
  --clr-secondary: hsl(225, 100%, 94%);

  --clr-neutral: hsl(225, 100%, 98%);
  --clr-desaturated-blue: hsl(224, 23%, 55%);
  --clr-dark-blue: hsl(223, 47%, 23%);

  --fw-regular: 500;
  --fw-bold: 700;
  --fw-black: 900;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

body {
  font-size: 1.6rem;
  font-family: "Red Hat Display", sans-serif;
  font-weight: var(--fw-regular);
  line-height: 25px;

  background: url("./images/pattern-background-mobile.svg");
  background-size: 100% 50vmin;
  background-repeat: no-repeat;
  background-color: var(--clr-secondary);
  text-align: center;
  min-height: 100vh;
  padding: 0em 1.5em;

  display: grid;
  place-content: center;
}

.container {
  max-width: 340px;
  display: flexbox;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  background-color: #ffffff;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.hero__img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.order__summary {
  padding: 2.5em 0;
  width: 80%;
  margin: 0 auto;
}

.title {
  font-size: 3rem;
  margin: 0.8em auto;
}

.main__text {
  font-size: 1.8rem;
  color: var(--clr-desaturated-blue);
  margin-bottom: 1.5em;
}

.purchasing__details {
  padding: 4em 6em;
  margin: 0.8em auto;
  margin-bottom: 7em;
  min-width: 90%;
  background-color: var(--clr-neutral);
  border-radius: 15px;
  display: flex;
  align-items: center;
}

.music__icon {
  margin-top: 10em;
  margin-right: 10px;
  min-width: 50px;
}

.purchasing__plan {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  gap: 0.3rem;
  line-height: initial;
}

.purchasing__plan > span {
  font-size: 1.8rem;
}

.plan {
  font-weight: var(--fw-bold);
}

.plan__price {
  font-size: 1.6rem;
  color: var(--clr-desaturated-blue);
}

.change__plan {
  font-size: 1.4rem;
  font-weight: var(--fw-black);
  color: var(--clr-primary);
  margin-left: 40px;
  transition-duration: 500ms;
}

.change__plan:hover {
  text-decoration: none;
}

.btn {
  font: inherit;
  font-size: 1.5rem;
  font-weight: var(--fw-black);
  color: var(--clr-primary);
  border: none;
  border-radius: 15px;
  background: var(--clr-primary);
  color: #ffffff;
  box-shadow: 0px 15px 60px -15px #000000;
  margin: 0 auto;
  margin-top: 0.7em;
  padding: 0.9em 4em;
  transition-duration: 500ms;
  width: 100%;
}

.btn + .btn {
  margin: 4px auto;
  background-color: transparent;
  color: var(--clr-desaturated-blue);
  box-shadow: none;
}

.btn-white:hover {
  color: #000000;
  cursor: pointer;
}

.btn-blue:hover {
  background-color: rgb(56, 41, 224, 0.8);
  cursor: pointer;
}

@media (max-width: 360px) {
  body {
    padding: 0 1em;
  }

  .container {
    max-width: 330px;
    margin: 7em auto;
    padding-bottom: 1em;
    border-radius: 20px;
    background-color: #ffffff;
  }

  .row {
    display: flex;
    flex-direction: column;
    gap: 4em;
  }

  .change__plan {
    margin-left: 0px;
  }

  .btn {
    font-size: 1.2rem;
    padding: 0.5em 2em;
  }
}

@media (min-width: 760px) {
  body {
    background: url("./images/pattern-background-desktop.svg");
    background-size: 100% 50vmin;
    background-repeat: no-repeat;
    background-color: var(--clr-secondary);

  }

  .container {
    width: 90%;
    max-width: 500px;
    margin: 0em auto;
    border-radius: 20px;
    background-color: #ffffff;
  }
}
